@font-face {
  font-family: "Micraft";
  src:
    local("Micraft"),
    url("Fonts/MinecraftTen-VGORe.ttf") }

body{
  margin: 0;
  background: radial-gradient(closest-side, #ffffff , #e7e7e7);
}

#intro{
    display: grid;
    grid-template-columns: 1fr;
}

/*** Navbar ***/
.navbar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  border-bottom: 1px solid rgb(192, 189, 189);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 40px rgb(235, 233, 233) ;
  background-color: #ffffff;
}
.navbar-container h2{
  color: #d6d0d0;
  font-family: "Micraft";
  font-size: 30px;
  -webkit-text-stroke: .2px rgb(43, 43, 43);
  text-shadow: 4px 5px black;
}
.navbar-container img{
  height: 35px;
  object-fit: contain;
  cursor: pointer;
}
.navbar-container img:first-child{
  margin-left: 50px;
  
}
.navbar-container a:last-child{
  align-self: right;
  justify-self: right;
  margin-right: 50px;
}

.nav,
.navbar {
  width: 250px;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
  list-style: none;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav a,
.navbar a {
  color: #3c3c3c;
  text-decoration: none;
}
.page-container div:first-child{
  text-align: center;
  margin-top: 120px;
}
.menulist li:after{
  content: ' ';
  position: relative;
  left: 0;
  height: 1px;
  width: 30px;
  background: black;
  transition: top 0.3s ease-out;
  -webkit-transition: top 0.3s ease-out;
}

section.page-container {
  height: calc(100vh - 80px);
  margin-top: 70px;
  text-align: center;
}

#intro .section-container {
  margin-top: 70px;
}
.section-container h4 {
  font-size: 50px;
  font-weight: 300;
  color: #3c3c3c;
  margin-bottom: 30px;
}

/*** General Button Styles ***/
.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.button-container .flipper {
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.button-container .button {
  height: 45px;
  width: 200px;
  border-radius: 3px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
  box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
}
.button-container .button i.fa {
  color: white;
  font-size: 20px;
  margin: auto;
  text-shadow: 0.5px 1px 2px #3c3c3c;
}
.button-container .button.front {
  z-index: 10;
}
.button-container .button.back {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}


/* -------------------------------- 
			Water Fill
-------------------------------- */
/*** Water Fill ***/
.button-water-fill .button {
  background-position: 0 -50%;
  background-repeat: repeat-x;
  transition: background-position 0.75s ease;
}
.button-water-fill .button:hover {
  background-position: 100% 60%;
  color: white !important;
}
.button-water-fill.wave-black .button {
  color: black;
  background-image: url("https://s32.postimg.org/g5kiaqxit/wave_black.png");
}

.CardImage img{
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  border : 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.4s;
  animation : displayloading 1s;
}

@media screen and (max-width : 1000px) {
  .CardImage img{
    height: 150px;
  }
  .navbar-container img{
    width: 60px;
    height: 20px;
  }
  .menulist a{
    font-size: 12px;
  }
  .myrepo{
    display: none;
  }
  .ruleandstrategys{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all 0.3s;
  }
  .ruleandstrategys img{
    flex-grow: 1;
  }
}


.CardImage img:hover{
  box-shadow: 1px 1PX 30px #c4c4c4d5;
}
@keyframes displayloading {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateX(0px);
  }
}
/*
.CardImage{
  display: flex;
  justify-self: right;
}*/
/* -------------------------------- 
			Rules Sections
-------------------------------- */
/*** Rules Sections ***/

/* -------------------------------- 
			Rules Pages
-------------------------------- */
/*** Rules Pages ***/

.ruleandstrategys img{
  width: 45%;
  flex-grow: 1;
}
.ruleandstrategys img:first-child{
  animation: displayanimation_lr 1s ;
}
.ruleandstrategys img:last-child{
  animation: displayanimation_rl 1s ;
}
@keyframes displayanimation_lr {
    0%{
      transform: translateY(20%);
    }
    100%{
      transform: translateX(0%);
    }
}
@keyframes displayanimation_rl {
  0%{
    transform: translateY(20%);

  }
  100%{
    transform: translateY(0%);
  }
}


.ruleandstrategys{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: -20px;
}
#rules{
  margin-top: 70px;
}




#contact{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#contact input{
  padding-inline: 12px;
  border-radius: 5px;
  border: 1px solid rgb(187, 186, 186);
}
#contact button{
  background-color: transparent;
  border: 1px solid rgb(79, 167, 38);
  border-radius: 4px;
  padding-block: 10px;
  padding-inline: 25px;
  margin-top: 10px;
  color: rgb(79, 167, 38);
  transition: all 0.2s ease;
  cursor: pointer;
}
#contact button:hover{
  background-color: rgb(79, 167, 38);;
  color: white;
}
#contact textarea{
  padding-inline: 12px;
  border-radius: 5px;
  border: 1px solid rgb(187, 186, 186);
  resize: none;
}

video{
  width: 600px;
  border-radius: 10px;
}
floatingbutton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #d6d0d0 ;
}
floatingbutton img{
  height: 20px;
}
marquee{
  position: fixed;

}